



@font-face {
    font-family: 'natalia_rosaline_sans_demoRg';
    src: url('Fonts/natalia_rosaline_sans_demo-webfont.woff2') format('woff2'),
         url('Fonts/natalia_rosaline_sans_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	background-color: black;
	padding: 5px;
}

a {
	text-decoration: none;
}

.top-row {
	align-items: center;
	justify-content: center;
}

.header-box {

}

.image {
	width: 100%;
	height: 100%;
	padding-top: 7.5px;
}

.header-text {
	font-size: 2.5rem;
	font-family: 'natalia_rosaline_sans_demoRg', Arial, sans-serif;
}

.nav-button {
	border: 4px solid #46c2ff;	
	background-color: black;
	color: white;
	width: 100%;
	margin: 0 auto;
	display: inline-block;
	text-align: center;
	font-family: 'natalia_rosaline_sans_demoRg', Arial,sans-serif; 
	font-size: 1.5rem;
	padding: 3px;


}

.nav-button:hover  {
	color: black;
	background-color: white;
	font-style: italic;
}
.content-box {
	border: 2px solid #46c2ff;
	padding: 5px;
}

.chap-select-box {
	
	background-color: white;
	color: black;
	border: 4px solid #46c2ff;
	width: 100%;
	height: 150px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 150px;
	font-size: 1.5rem;
	font-family: 'natalia_rosaline_sans_demoRg', Arial, sans-serif;
}

.chap-select-box:hover {
	color: white;
	background-color: black;
}

.sidenav {
	border: 4px solid #46c2ff;
}

.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  border: none;
  background-color: black;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  font-family: 'natalia_rosaline_sans_demoRg', Arial, sans-serif;
}



.dropdown-container {
  display: none;
  background-color: black;
  
 }

 .dropdown-container a{
 	padding-bottom: 10px;
 }



 .dropdown-container a:hover {
 	background-color: white;
 	color: black;
 }

.active {
  background-color: #46c2ff;
  color: white;
}


.image-container {
	align-items: center;
	padding-bottom: 10px;
	
}

.comic-image {
	display: block;
	margin-left: auto;
	margin-right: auto;

}

img.comic-image {
	width: 100%;
}

.comic-arrows {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
}

.arrow-button {
	background-color: black;
}

.fa-arrow-alt-circle-right {
	color: #46c2ff;
	font-size: 4rem;
	padding: 2.5px;
	transition: 0.8s;
}

.fa-arrow-alt-circle-right:hover {
	color: #2f93c4;
}

.fa-arrow-alt-circle-left {
	color: #46c2ff;
	font-size: 4rem;
	padding: 2.5px;
	transition: 0.8s;
}

.fa-arrow-alt-circle-left:hover {
	color: #2f93c4;
}

.icon-container {
	align-items: center;
	justify-content: center;
	text-align: center;
}

.fa-instagram {
	color: white;
	font-size: 5rem;
	padding: 2.5px;
	transition: 0.8s;
}

.fa-instagram:hover {
	color: #2f93c4;

}

.fa-twitter-square {
	color: white;
	font-size: 5rem;
	padding: 2.5px;
	transition: 0.8s;
}

.fa-twitter-square:hover {
	color: #2f93c4;: 
}


.fa-envelope {
	color: white;
	font-size: 5rem;
	padding: 2.5px;
	transition: 0.8s;
}

.fa-envelope:hover {
	color: #2f93c4;
}

.fa-reddit-square {
	color: white;
	font-size: 5rem;
	padding: 2.5px;
	transition: 0.8s;
}

.fa-reddit-square:hover {
	color: #2f93c4;
}

.fa-twitch {
	color: white;
	font-size: 5rem;
	padding: 2.5px;
	transition: 0.8s;
}

.fa-twitch:hover {
	color: #2f93c4;
}

.fa-facebook-square {
	color: white;
	font-size: 5rem;
	padding: 2.5px;
	transition: 0.8s;
}

.fa-facebook-square:hover {
	color: #2f93c4;
}

.head-images {
	width: 100%;
	height: 100%;
	transition: 0.25s
}

.database-select-box {
	background-color: white;
	color: black;
	border: 4px solid #46c2ff;
	width: 200px;
	height: 200px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 200px;
	font-size: 1.5rem;
	font-family: 'natalia_rosaline_sans_demoRg', Arial, sans-serif;
	position: relative;
	overflow: hidden;
	transition: 0.25s;
}

.database-select-box:hover img {
	-webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
    transform: scale(1.01);
}

.name-box {
	align-items: center;
	justify-content: center;
	text-align: center;
}

.name-text {
	font-family: 'natalia_rosaline_sans_demoRg', Arial, sans-serif;
	font-size: 4.25rem;
	color: white;
}

.img-text {
	color: white;
	background: rgba(0,0,0,0.25);
	width: 100%;
	padding: 50px 15px 0 15px;
	opacity: 0;
	position: absolute;
	bottom: 0px;
	-webkit-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.img-text:hover {
	-webkit-opacity: 40;
	opacity: 40;
}

.dbase-images {
	width: 100%;
	border: 2px solid #46c2ff;
	border-radius: 15px;

}

.character-info-box {
	text-align: left;
}

.description-text {
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
	font-family: 'natalia_rosaline_sans_demoRg', Arial, sans-serif;
}

.spoiler-text {
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
	font-family: 'natalia_rosaline_sans_demoRg', Arial, sans-serif;
	cursor: pointer;
}

.spoiler-text-italic {
	text-decoration: none;
	font-style: italic;
	color: white;
	font-size: 1.5rem;
	font-family: 'natalia_rosaline_sans_demoRg', Arial, sans-serif;
	cursor: pointer;
}
